<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>This is great Nodejs</h2>
        <p>Customor Table Data</p>
                  
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% customers.forEach(function(customer) { %>
                    <tr>
                        <td><%= customer.id %></td>
                        <td><%= customer.name %></td>
                        <td><%= customer.address %></td>
                        <td>
                            <a href="/edit/<%= customer.id %>" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                        <td>
                            <a href="/delete/<%= customer.id %>" class="btn btn-danger btn-xs">Delele</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>